<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="scnextjsedge"
             deploymentSecret="ggx3t7cslux89qfjnyq6c5x0hwp9vunx6kkwsre238w"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
